.fit {
  min-height: calc(100vh - 88px);
}

.z-999{
  z-index: 999999!important;
}

.z-99{
  z-index: 99999!important;
}

.add-wishlist{
  bottom: -25px!important;
  padding: 6px;
  text-align: center;
  right: 0!important;
}

.full-table table{
  width: 100%!important;
}

.full-table table th{
  background: #f5f5f5!important;
}

.max-w-md{
  max-width: 29.2rem!important;
}